{% extends 'base.html.twig' %}

{% block title %}suivie de la demande n°{% endblock %}

{% block body %} 
<div class="container">
	Une demande est déjà enregistrer sous la réference n°
	
		<div class="container">
			{{ tickets.titre }}
		</div>
		<div>
			{{ tickets.titre}}
		</div>
		
		
	
</div>


{% endblock %}